language: node_js
node_js:
- '4'
- '5'
- '6'
- '7'
- '8'
cache: yarn
deploy:
  provider: npm
  email: cy.brown59@gmail.com
  api_key:
    secure: XY7DFcRHKV6BG/WN/JMIdU5yFktji24OdPlAzlQPLfS89ZaRmuZuvxWBq2jDnRdXMvxM35uyorySDorGHfuhjkdYuDdEeWgBeEy112rIgOJiw8ErPgXi5X7r37ZGX8P6jkvnPQeu49DuWomLRrc8JNt97rAQEuERQFRvyAXRig8hDKW7qSO4SZDuztQEepeI7F64oD/o3xpsHcnzHLpAWFrBUlr/e+jt6jGW++c85EQoHU555bsgXc8MiSvxBRHNuIYkqg7555dhXh1/PI/HFxncgGhuXY/2cx2WudNS1G11qX1u1OR7FgzSfQuzG+ipXIKb9X9fmVHFWgtjmgytQJWXO2kNOhkBs6iDaQ9J6v1iRB2F7NiI8j5p0i5cOoQ8a6E4t1+aVZYKEbAgGRNYsik1ahOD4oNSSepI06Jfo0Gk7CsQRv5iKKd9ekbW/Cgo0fZK5PGTizailw8Vg5UvLdP3xHAAAn2togQ9I0UXLGdlQqFmZGJPzG1KPBRHpNmgyR2AAoK1SMeKinGR2/Cw3zemOZOCA6z/TRb+bqOOJgREIAZFM2cSl8rQQBgOz6isKAVeQIWAc191diOE2LQAljpHJIy/P6/cpUsKT5MHmbCisxL/hm3P/CKKiF3+4KkPTKG3vZeHkXT1A1jj6ttjr+Eur2KY21jnb0JzHchSEuo=
  on:
    tags: true
    branch: master
    node: '6'
